.edit_button {
  background: rgba(215, 255, 99, 1);

  width: 50px;
  height: 30px;
  border-radius: 25px;
  border: solid 2px;
}

.cancel_button {
  background: linear-gradient(0deg, #f5f5f5, #f5f5f5),
    linear-gradient(0deg, #1e1e1e, #1e1e1e);

  width: 74px;
  height: 30px;
  border-radius: 25px;
  border: solid 2px;
}

.save_button {
  background: rgba(30, 30, 30, 1);
  color: #f5f5f5;
  width: 94px;
  height: 30px;
  border: 2px solid #1e1e1e;
  border-radius: 20px;
}

.delete_button {
  background: linear-gradient(0deg, #a80f00, #a80f00),
    linear-gradient(0deg, #1e1e1e, #1e1e1e);
  color: white;
  width: 50px;
  height: 30px;
  border: 2px solid #1e1e1e;
  border-radius: 20px;
}

.input_fields {
  border: solid 2px;
  width: 30vw;
  border-radius: 10px;
  margin: 10px;
  font-family: "Space Grotesk";
  padding-left: 5px;
}

.createpost:hover {
  background-color: #a80f00;
}
