/* Add a background color and border to the fieldset */
.fieldset_body {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  width: 70%;
}

.table_button {
  background-color: #bfe6ff;
  border-radius: 4px;
  padding: 5px 10px;
  margin-left: 80%;
}
