/* Add a background color and border to the fieldset */
.fieldset_body {
  background-color: #f9f9f9;
  border: 2px solid rgb(23, 9, 9);
  border-radius: 4px;
  padding: 10px;
  width: 60%;
}

.table_button {
  background-color: #c1dff2;
  border-radius: 4px;
  padding: 5px 10px;
  margin-left: 90%;
}

.fieldset_row {
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
}

.tableHeader_body {
  font-size: 20px;
  text-align: left;
}
