.left_section {
  display: flex;

  height: 100%;
  width: 100%;
  flex-basis: 20%;
  background: linear-gradient(
      0deg,
      rgba(208, 188, 255, 0.05),
      rgba(208, 188, 255, 0.05)
    ),
    #1c1b1f;
}
