.main_footer {
  position: fixed;
  bottom: 20px; /* adjust as needed */
  right: 20px; /* adjust as needed */
  border-radius: 50%;
  border: 22px;
  box-shadow: 2px 5px 2px rgba(63, 88, 88, 0.7);
}
