.main_footer {
  position: fixed;
  bottom: 20px; /* adjust as needed */
  right: 20px; /* adjust as needed */
  border: none;
  background-color: transparent;
  cursor: pointer;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
