/* Add a background color and border to the fieldset */
.fieldset_body {
  background: linear-gradient(to bottom, black 20%, #f9f9f9 20%);
  border: 2px solid rgb(23, 9, 9);
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
}
/*
.table_button {
  background-color: #c1dff2;
  border-radius: 4px;
  padding: 5px 10px;
  margin-left: 75%;
}
*/

.user_location {
  font-size: 40%;
}

.tableHeader_PlayerInfo {
  font-size: 10px;
  text-align: left;

  color: white;
}

/*
.table_button_wrapper {
  align-items: center;
  color: red;
}

.heartimage {
  background-image: none;
  width: 7%;
  margin-top: 4px;
}
*/
.playerInfo_h2 {
  font-weight: 600;
}
