@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap");

.loadingPage_body {
  background-color: #6551ff;
  height: 100%;
  min-height: 100vh;
  width: 100%;
  font-family: "Space Grotesk";
}

.loadingPage_Top {
  width: 80%;
  height: 10%;

  justify-content: center;
  position: relative;
  left: 15%;
  padding-top: 8em;
}

.h1 {
  color: #d7ff63;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
}

.p {
  color: white;
  font-size: 21px;
  font-weight: 500;
  margin-top: -10px;
}

.image_div {
  position: relative;
  right: 8%;
}

.icons {
  padding-top: 2.5rem;
  color: white;
  font-size: 28px;
  font-weight: 700;
  line-height: 40px;
  display: flex;
  align-items: center;
}

.button {
  background-color: #ceff42;
  width: 11em;
  height: 3.5rem;
  border-radius: 50px;
  border: solid 2px #1e1e1e;
  font-size: 24px;
  font-weight: 500;
}

.button_div {
  padding: 2.5rem;

  display: flex;
  justify-content: left;
  margin-left: 2rem;
}

.h3 {
  margin-left: 2%;
}
