.body {
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  background-color: greenyellow;
  height: 100vh;
  width: 25vh;
}

.section {
  background-color: aqua;
  height: 30vh;
  width: 25vh;
}

.p {
  font-size: x-small;
}
