.table_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 40px;
  margin-top: 5%;
}

.table_container table {
  margin-bottom: 10px;
}
